<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%include 'inheritance_css_bootstrap.html'%}
    <title>jogos</title>
</head>

<body>
    <div class="container">
        <div align = 'center' class="page-header">
            <h1>{{ titulo }}</h1>
        </div>
        
        {%include 'inheritance_form.html'%}

        <a href="/home"><button type="button" class="btn btn-outline-danger">Voltar</button></a>
        {%include 'inheritance_js.html'%}
</body>

</html>