<form  action="/response/cadastro" method='post'>

    <div class="form-floating mb-3">
        <input name='titulo' type="text" class="form-control" id="titulo" placeholder="Game">
        <label for="titulo">Game</label>
    </div>
    <div class="form-floating">
        <input name='categoria' type="text" class="form-control" id="categoria" placeholder="Password">
        <label for="categoria">Categoria</label>
    </div>
    <div class="form-floating">
        <input name='console' type="text" class="form-control" id="console" placeholder="console">
        <label for="console">Console</label>
    </div>

    <div align="center">
        <button type="submit" class="btn btn-outline-success">Salvar</button>
    </div>
</form>

