<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Bikes for rent</title>
</head>

<body>
    {% block content %}

    <!-- Navbar -->
    <div class="container-fluid ms-auto">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="# ">Bike Rental</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if session.logged_in %}
                    <li type='none' class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-success" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">{{ session.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista') }}">Lista</a></li>
                            <li><a class="dropdown-item" href=#>About </a></li>
                        </ul>
                        
                    </li>
                    
                    {% else %}
                    {% endif %}
                </ul>
            </div>

            <div class="container-fluid ms-auto">
               <form action="{{ url_for('buscar') }}" method="POST">
                 <input type="text" name="termo_busca" placeholder="Busque uma bike">
                 <button class="btn btn-outline-success" type="submit">Buscar</button>
               </form>
            </div>
        </nav>
        
    </div>

    <!-- Lista -->
    <div>
        <h1>Alugue sua Bike</h1>
    </div>  
<!-- Flash message div -->
<div align="center" class="login">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li type="none" class="alert alert-success" role="alert">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

    <table class=" table table-dark table-borderless">
        <tr align="center" >
            <th scope="col">ID</th>
            <th scope="col">Tipo</th>
            <th scope="col">Valor Aluguel</th>
            <th scope="col">Estoque</th>
            <th scope="col"></th>
        </tr>
        {% for bike in bikes %}
        <tbody>
            <tr align="center">
                <td>{{ bike[0] }}</td>
                <td>{{ bike[1] }}</td>
                <td>{{ bike[2] }}</td>
                <td>{{ bike[3] }}</td>
                <td>
                    <form action="{{ url_for('alugar', id=bike[0]) }}" method="POST">
                        <button type="checkbox" type="button" class="btn btn-outline-success" {% if bike[3]==0
                            %}disabled{% endif %}>Alugar</button>
                    </form>
            </tr>
        </tbody>
      
        {% endfor %}
    </table>

   
    {% endblock %}

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>