<!DOCTYPE html>
<html lang="en">
{% include 'inheritance_bootstrap.html'%}
<head>
    <meta charset="UTF-8">
    <title>Apply Jobs</title>
</head>

{% include 'inheritance_nav.html'%}

<body>

{% include 'inheritance_banner.html'%}
<h3 class=" text-center mt-4 ">About ApplyJobs</h3>
<div class="container">
    <img id="banner2"
         src="https://media.istockphoto.com/id/1012913624/photo/group-of-young-people-having-discussion-for-coding-and-programming-for-web-development-and.jpg?s=170667a&w=0&k=20&c=4wOj2qsl4l97N-ScZsVOWHK9M62EGVGIvIwiraMkEoQ="
         class="float-end img-fluid" alt="...">
</div>
>
<div class="container">
    <p class="text-start col-sm-10">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula est sed nibh
        congue
        accumsan. Nullam
        ultrices elit sit amet lorem feugiat auctor. Morbi id massa arcu. Sed non mauris justo. Donec at dui sed enim
        tristique fringilla. Curabitur convallis bibendum justo. Fusce vestibulum sapien vitae mi malesuada, vitae
        suscipit justo ultricies. Integer rhoncus sapien vitae nunc varius eleifend. Nunc iaculis sagittis mauris vitae
        suscipit. Mauris lacinia, sem non sagittis auctor, neque elit lacinia purus, at iaculis justo tortor eu ex.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras at erat
        consequat, vestibulum odio eget, euismod odio. Quisque mollis semper efficitur."</p>
</div>

{% include 'inheritance_list_jobs.html' %}
{% include 'inheritance_footer.html'%}
{% include 'inheritance_js_bootstrap.html' %}
</body>
</html>