<h2>Application form</h2>

<form action="" method="POST">

    <div>
        <label for="full_name">Name: </label><br>
        <input placeholder="Full Name" type="text" name="full_name" id="full_name">
    </div>

    <div>
        <label for="email">Email:</label><br>
        <input placeholder="email@example.com" type="email" name="email" id="email">
    </div>

    <div>
        <label for="linkedin_url">Linkedin:</label><br>
        <input placeholder="Linkedin" type="url" name="linkedin_url" id="linkedin_url">
    </div>

    <div>
        <label>Education:</label><br>
        <textarea name="education" id="education"></textarea>
    </div>

    <div>
        <label>Work Experience:</label><br>
        <textarea name="work_experience" id="work_experience"></textarea>
    </div>

    <div>
        <label for="resume_url">Resume Link:</label><br>
        <input placeholder="Resume URL" type="url" name="resume_url" id="resume_url">
    </div>

    <div>
        <br>
        <input type="submit">
    </div>

