/*
pscale_pw_M0DxtnssPE0anRSe48St6GfLYTO2ng75dI4neVLt73x*/

/*
c5db6svf9myuphw8xpey*/

 #banner {
 height:360px;
 object-fit:cover;
 width: 100%
    }

  #banner2 {
height:240px;
 object-fit:cover;
 width:350px;
    }